<div class="footer container-fluid">
  <footer
    class="footer d-flex flex-column flex-md-row justify-content-md-between justify-content-center align-items-center py-3 py-sm-2 bg-dark"
  >
    <p class="col-md-4 mb-2 text-warning">&COPY; 2023 Notes, Inc</p>

    <a
      href="/dashboard"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-warning text-decoration-none"
    >
      <img class="note-icon" src="/img/notes-64.png" alt="Image" />
      Notes
    </a>

    <ul class="nav col-4 justify-content-sm-end justify-content-center">
      <li class="nav-item">
        <a href="/" class="nav-link px-2 text-warning">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-warning">Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-warning">FAQs</a>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link px-2 text-warning">About</a>
      </li>
    </ul>
  </footer>
</div>
