<div class="header container-fluid">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 bg-dark"
  >
    <a
      href="/"
      class="d-flex align-items-center col-md-3 mb-2 mx-3 fs-5 fw-bolder mb-md-0 text-warning text-decoration-none"
    >
      <img class="note-icon" src="/img/notes-64.png" alt="Image" />
      Notes
    </a>

    <ul
      class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0"
    >
      <li>
        <a
          href="/"
          class="nav-link bg-warning active px-2 text-dark link-secondary"
          >Home</a
        >
      </li>
      <li>
        <a href="#" class="nav-link px-2 text-warning link-primary">Features</a>
      </li>
      <li>
        <a href="#" class="nav-link px-2 text-warning link-primary">FAQs</a>
      </li>
      <li>
        <a href="/about" class="nav-link px-2 text-warning link-primary"
          >About</a
        >
      </li>
    </ul>

    <div class="col-md-3 text-end mx-3">
      <a
        href="/auth/google"
        type="button"
        class="btn btn-outline-warning rounded-pill me-2"
      >
        Login
      </a>
      <a href="/auth/google" type="button" class="btn btn-warning rounded-pill">
        Sign-up
      </a>
    </div>
  </header>
</div>
